<p id="notice"><%= notice %></p>

<h1>Listing Drop Offs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drop_offs.each do |drop_off| %>
      <tr>
        <td><%= drop_off.name %></td>
        <td><%= drop_off.start_time %></td>
        <td><%= drop_off.end_time %></td>
        <td><%= link_to 'Show', drop_off %></td>
        <td><%= link_to 'Edit', edit_drop_off_path(drop_off) %></td>
        <td><%= link_to 'Destroy', drop_off, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drop off', new_drop_off_path %>
